<form [formGroup]="formGroup" [bitSubmit]="submit" bit-dialog>
  <span bitDialogTitle>{{ "apiKey" | i18n }}</span>
  <div bitDialogContent>
    @if (clientSecret(); as secret) {
      <bit-callout type="warning">{{ "providerApiKeyWarning" | i18n }}</bit-callout>
      <h2 bitTypography="h6">{{ "oauth2ClientCredentials" | i18n }}</h2>
      <bit-form-field>
        <bit-label>client_id</bit-label>
        <input
          bitInput
          id="provider-api-key-dialog_input_client-id"
          type="text"
          class="tw-font-mono"
          [value]="clientId"
          readonly
        />
        <button
          bitIconButton="bwi-clone"
          bitSuffix
          type="button"
          id="provider-api-key-dialog_button_copy-client-id"
          showToast
          [valueLabel]="'clientId' | i18n"
          [appCopyClick]="clientId"
          [label]="'copyValue' | i18n"
        ></button>
      </bit-form-field>
      <bit-form-field>
        <bit-label>client_secret</bit-label>
        <input
          bitInput
          id="provider-api-key-dialog_input_client-secret"
          type="text"
          class="tw-font-mono"
          [value]="secret"
          readonly
        />
        <button
          bitIconButton="bwi-clone"
          bitSuffix
          type="button"
          id="provider-api-key-dialog_button_copy-client-secret"
          showToast
          [valueLabel]="'clientSecret' | i18n"
          [appCopyClick]="secret"
          [label]="'copyValue' | i18n"
        ></button>
      </bit-form-field>
    } @else {
      <p bitTypography="body1">{{ description() | i18n }}</p>
      <app-user-verification-form-input formControlName="secret"></app-user-verification-form-input>
    }
  </div>
  <ng-container bitDialogFooter>
    @if (clientSecret()) {
      <button
        type="button"
        id="provider-api-key-dialog_button_rotate"
        bitButton
        buttonType="secondary"
        [bitAction]="rotate"
      >
        {{ "rotateApiKey" | i18n }}
      </button>
    } @else {
      <button
        type="submit"
        id="provider-api-key-dialog_button_submit"
        bitButton
        bitFormButton
        buttonType="primary"
      >
        {{ (rotating() ? "rotateApiKey" : "viewApiKey") | i18n }}
      </button>
    }
    <button
      type="button"
      id="provider-api-key-dialog_button_close"
      bitButton
      bitFormButton
      buttonType="secondary"
      bitDialogClose
    >
      {{ "close" | i18n }}
    </button>
  </ng-container>
</form>
